Django>=4.2,<4.3
djangorestframework>=3.14,<3.17
django-filter>=24.2,<26
django-simple-history>=3.4
django-import-export>=3.3
openpyxl>=3.1
celery>=5.6
django-celery-beat>=2.9
redis>=6.0
sentry-sdk>=2.60
django-silk>=5.5
social-auth-app-django>=5.4,<5.5
gunicorn>=23.0
whitenoise>=6.9
flake8>=6.0
